.jg-PersonalDetails {
  @include is-positive-button;

  @include desktopOrWider {
    .chakra-form-control {
      flex-grow: 1;
      width: auto;

      &.jg-PersonalDetails__name {
        min-width: 268px;
      }
    }
  }

  @include tabletOrWider {
    .chakra-form-control {
      flex-grow: 1;
      width: auto;
    }
  }

  @include narrowerThanTablet {
    @include widthOrWider(570px) {
      .jg-PersonalDetails__name,
      .jg-PersonalDetails__species,
      .jg-PersonalDetails__ship {
        margin-left: auto;
        margin-right: auto;
        width: 31%;
      }
    }
    align-items: center;
    flex-wrap: wrap;
  }

  @include narrowerThan570px {
    padding: 0;
  }

  display: flex;
  gap: 14px;
  grid-area: details;

  height: min-content;
  width: 100%;

  .jg-PersonalDetails__name,
  .jg-PersonalDetails__species,
  .jg-PersonalDetails__ship {
    @include floating-labels-sm;
  }
}
