.msc-MythicSpaceCharacters {
  display: flex;
  justify-content: center;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .msc-Email {
    padding-bottom: 14px;
  }
}
