.jg-TagList {
  &.chakra-stack {
    flex-wrap: wrap;
  }

  .chakra-button {
    border-radius: var(--chakra-radii-sm);
    height: var(--chakra-sizes-4);
  }

  .jg-TagList__tag-button {
    &.is-default-color {
      background-color: lighten($jg-blue, 10%);
      &:hover {
        background-color: lighten($jg-blue, 20%);
      }
    }
  }
}
