/* CRT Scanlines */
$scan-width: 2px;
$scan-crt: true;
$scan-fps: 60;
$scan-color: rgba(#000, 0.3);
$scan-z-index: 2147483648;
$scan-moving-line: true;
$scan-opacity: 0.75;

@mixin scan-crt($scan-crt) {
  @if $scan-crt == true {
    animation: scanlines 1s steps($scan-fps) infinite;
  } @else {
    animation: none;
  }
}

.scanlines {
  animation: textShadow 1.6s infinite;

  &:before,
  &:after {
    content: "";
    display: block;
    pointer-events: none;
    position: absolute;
  }
  &:before {
    animation: scanline 10s linear infinite;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(255, 255, 255, 0.2) 10%,
      rgba(0, 0, 0, 0.1) 100%
    );
    bottom: 100%;
    height: 100px;
    opacity: 0.1;
    position: absolute;
    width: 100%;
    z-index: $scan-z-index;
  }

  &:after {
    @include scan-crt($scan-crt);
    background: linear-gradient(to bottom, transparent 70%, $scan-color 51%);
    background-size: 100% $scan-width * 2;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: $scan-z-index;
  }

  button > .chakra-text {
    animation: textShadow 1.6s infinite;
  }

  button > svg {
    animation: dropShadow 1.6s infinite;
  }
}

@keyframes scanline {
  0% {
    bottom: 100%;
  }
  80% {
    bottom: 100%;
  }
  100% {
    bottom: 0%;
  }
}

@keyframes scanlines {
  0% {
    background-position: 0 0;
  }

  to {
    background-position: 0 -8px;
  }
}

@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0, 30, 255, 0.5),
      -0.4389924193300864px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0, 30, 255, 0.5),
      -2.7928974010788217px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0, 30, 255, 0.5),
      -0.02956275843481219px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0, 30, 255, 0.5),
      -0.40218538552878136px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0, 30, 255, 0.5),
      -3.4794037899852017px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0, 30, 255, 0.5),
      -1.6125630401149584px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0, 30, 255, 0.5),
      -0.7015590085143956px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0, 30, 255, 0.5),
      -3.896914047650351px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0, 30, 255, 0.5),
      -3.870905614848819px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0, 30, 255, 0.5),
      -2.231056963361899px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0, 30, 255, 0.5),
      -0.08084290417898504px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0, 30, 255, 0.5),
      -2.3758461067427543px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0, 30, 255, 0.5),
      -2.202193051050636px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0, 30, 255, 0.5),
      -2.8638780614874975px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0, 30, 255, 0.5),
      -0.48874025155497314px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0, 30, 255, 0.5),
      -1.8948491305757957px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0, 30, 255, 0.5),
      -0.0833037308038857px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0, 30, 255, 0.5),
      -0.09769827255241735px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0, 30, 255, 0.5),
      -3.443339761481782px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0, 30, 255, 0.5),
      -2.1841838852799786px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0, 30, 255, 0.5),
      -2.6208764473832513px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
}

@keyframes dropShadow {
  0% {
    filter: drop-shadow(0.4389924193300864px 0 1px rgba(0, 30, 255, 0.5))
      drop-shadow(-0.4389924193300864px 0 1px rgba(255, 0, 80, 0.3))
      drop-shadow(0 0 0.5px);
  }
  5% {
    filter: drop-shadow(1.7928974010788217px 0 1px rgba(0, 30, 255, 0.5))
      drop-shadow(-1.7928974010788217px 0 1px rgba(255, 0, 80, 0.3))
      drop-shadow(0 0 0.5px);
  }
  10% {
    filter: drop-shadow(0.02956275843481219px 0 1px rgba(0, 30, 255, 0.5))
      drop-shadow(-0.02956275843481219px 0 1px rgba(255, 0, 80, 0.3))
      drop-shadow(0 0 0.5px);
  }
  15% {
    filter: drop-shadow(0.40218538552878136px 0 1px rgba(0, 30, 255, 0.5))
      drop-shadow(-0.40218538552878136px 0 1px rgba(255, 0, 80, 0.3))
      drop-shadow(0 0 0.5px);
  }
  20% {
    filter: drop-shadow(2.4794037899852017px 0 1px rgba(0, 30, 255, 0.5))
      drop-shadow(-2.4794037899852017px 0 1px rgba(255, 0, 80, 0.3))
      drop-shadow(0 0 0.5px);
  }
  25% {
    filter: drop-shadow(1.6125630401149584px 0 1px rgba(0, 30, 255, 0.5))
      drop-shadow(-1.6125630401149584px 0 1px rgba(255, 0, 80, 0.3))
      drop-shadow(0 0 0.5px);
  }
  30% {
    filter: drop-shadow(0.7015590085143956px 0 1px rgba(0, 30, 255, 0.5))
      drop-shadow(-0.7015590085143956px 0 1px rgba(255, 0, 80, 0.3))
      drop-shadow(0 0 0.5px);
  }
  35% {
    filter: drop-shadow(2.896914047650351px 0 1px rgba(0, 30, 255, 0.5))
      drop-shadow(-2.896914047650351px 0 1px rgba(255, 0, 80, 0.3))
      drop-shadow(0 0 0.5px);
  }
  40% {
    filter: drop-shadow(2.870905614848819px 0 1px rgba(0, 30, 255, 0.5))
      drop-shadow(-2.870905614848819px 0 1px rgba(255, 0, 80, 0.3))
      drop-shadow(0 0 0.5px);
  }
  45% {
    filter: drop-shadow(1.231056963361899px 0 1px rgba(0, 30, 255, 0.5))
      drop-shadow(-1.231056963361899px 0 1px rgba(255, 0, 80, 0.3))
      drop-shadow(0 0 0.5px);
  }
  50% {
    filter: drop-shadow(0.08084290417898504px 0 1px rgba(0, 30, 255, 0.5))
      drop-shadow(-0.08084290417898504px 0 1px rgba(255, 0, 80, 0.3))
      drop-shadow(0 0 0.5px);
  }
  55% {
    filter: drop-shadow(1.3758461067427543px 0 1px rgba(0, 30, 255, 0.5))
      drop-shadow(-1.3758461067427543px 0 1px rgba(255, 0, 80, 0.3))
      drop-shadow(0 0 0.5px);
  }
  60% {
    filter: drop-shadow(1.202193051050636px 0 1px rgba(0, 30, 255, 0.5))
      drop-shadow(-1.202193051050636px 0 1px rgba(255, 0, 80, 0.3))
      drop-shadow(0 0 0.5px);
  }
  65% {
    filter: drop-shadow(1.8638780614874975px 0 1px rgba(0, 30, 255, 0.5))
      drop-shadow(-1.8638780614874975px 0 1px rgba(255, 0, 80, 0.3))
      drop-shadow(0 0 0.5px);
  }
  70% {
    filter: drop-shadow(0.48874025155497314px 0 1px rgba(0, 30, 255, 0.5))
      drop-shadow(-0.48874025155497314px 0 1px rgba(255, 0, 80, 0.3))
      drop-shadow(0 0 0.5px);
  }
  75% {
    filter: drop-shadow(0.8948491305757957px 0 1px rgba(0, 30, 255, 0.5))
      drop-shadow(-0.8948491305757957px 0 1px rgba(255, 0, 80, 0.3))
      drop-shadow(0 0 0.5px);
  }
  80% {
    filter: drop-shadow(0.0833037308038857px 0 1px rgba(0, 30, 255, 0.5))
      drop-shadow(-0.0833037308038857px 0 1px rgba(255, 0, 80, 0.3))
      drop-shadow(0 0 0.5px);
  }
  85% {
    filter: drop-shadow(0.09769827255241735px 0 1px rgba(0, 30, 255, 0.5))
      drop-shadow(-0.09769827255241735px 0 1px rgba(255, 0, 80, 0.3))
      drop-shadow(0 0 0.5px);
  }
  90% {
    filter: drop-shadow(2.443339761481782px 0 1px rgba(0, 30, 255, 0.5))
      drop-shadow(-2.443339761481782px 0 1px rgba(255, 0, 80, 0.3))
      drop-shadow(0 0 0.5px);
  }
  95% {
    filter: drop-shadow(1.1841838852799786px 0 1px rgba(0, 30, 255, 0.5))
      drop-shadow(-1.1841838852799786px 0 1px rgba(255, 0, 80, 0.3))
      drop-shadow(0 0 0.5px);
  }
  100% {
    filter: drop-shadow(1.6208764473832513px 0 1px rgba(0, 30, 255, 0.5))
      drop-shadow(-1.6208764473832513px 0 1px rgba(255, 0, 80, 0.3))
      drop-shadow(0 0 0.5px);
  }
}
