.msc-CharacterSheet {
  @include desktopOrGreater {
    grid-template-areas:
      "details details details details details details details details details"
      "attributes dingus dingus dingus dingus dingus dingus dingus dingus"
      "attributes dingus dingus dingus dingus dingus dingus dingus dingus"
      "attributes dingus dingus dingus dingus dingus dingus dingus dingus"
      "grombles dingus dingus dingus dingus dingus dingus dingus dingus"
      "grombles dingus dingus dingus dingus dingus dingus dingus dingus"
      "grombles dingus dingus dingus dingus dingus dingus dingus dingus";
    grid-template-columns: repeat(9, 1fr);

    .msc-CharacterSheet__dingus {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      grid-area: dingus;
      overflow: hidden;
    }

    .msc-CharacterSheet__grombles {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      grid-area: grombles;
      height: 320px;
    }
  }
  display: grid;
  gap: 16px 16px;

  grid-template-areas:
    "details details loadout loadout loadout loadout loadout loadout loadout"
    "attributes status tokens tokens tokens tokens facets facets facets"
    "1 2 3 4 5 6 facets facets facets"
    "save 2 3 4 5 6 facets facets facets";

  grid-template-columns: 268px 108px repeat(6, 1fr);
  height: 100vh;

  padding: 14px 8px;
  // max-width: 1024px;
  width: 1024px;
}
