.msc-PersonalDetails {
  @include desktopOrGreater {
    display: flex;

    .chakra-form-control {
      flex-grow: 1;
      width: auto;

      &.msc-PersonalDetails__name {
        // flex-grow: 0;
        min-width: 268px;
      }
    }
  }

  display: grid;
  gap: 14px;
  grid-area: details;

  height: min-content;
  width: 100%;

  .msc-PersonalDetails__name,
  .msc-PersonalDetails__species,
  .msc-PersonalDetails__ship {
    @include floating-labels-sm;
  }
}
