.jg-Facets {
  @include tabletOrWider {
    overflow: hidden;

    .jg-Facets__facets {
      grid-template-columns: 1fr 1fr;
    }
  }

  @include is-positive-button;

  display: flex;
  flex-direction: column;
  grid-area: facets;

  &.chakra-modal__body {
    border: none;
    padding: 0;
  }

  .chakra-form-control {
    margin-bottom: 14px;
  }

  .jg-Facets__add-facet {
    margin: 0.75rem;
  }

  .jg-Facets__facets {
    display: grid;
    gap: 22px;
    overflow-y: auto;
    padding: 14px;
  }

  .jg-Facets__edit-toggle-group {
    border-bottom: 1px solid var(--chakra-colors-chakra-border-color);
    display: flex;

    .jg-Facets__title {
      align-items: center;
      display: flex;
      flex-grow: 1;
      justify-content: center;
    }

    .jg-Facets__edit-toggle {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 0;
    }
  }
}

.jg-Facets__facet-group {
  display: grid;
  gap: 14px;
  grid-auto-rows: minmax(min-content, max-content);
  grid-template-columns: 1fr;
  padding: 14px;

  .jg-Facets__facet {
    flex-direction: column;

    .jg-Facets__facet--name {
      font-family: "Oxanium";
    }
  }

  .jg-divider {
    border-top: 1px solid var(--chakra-colors-chakra-border-color);
    height: 0px;
    width: 100%;
  }
}

.jg-FacetEditor__name-form-control {
  position: relative;

  .jg-FacetEditor__delete-button {
    background-color: #6e120b;

    border-radius: 0;
    height: calc(100% - 2px);
    position: absolute;
    right: 1px;
    top: 1px;

    &:hover {
      background-color: lighten(#6e120b, 10%);
    }
  }
}

.chakra-modal__content.jg-FacetEditor,
.chakra-modal__body.jg-Facets {
  max-width: var(--chakra-sizes-4xl);
}
