.msc-Status {
  grid-area: status;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 48px 48px 48px;
  gap: 14px;

  .msc-Status__shields,
  .msc-Status__armor,
  .msc-Status__stress,
  .msc-Status__supplies {
    input {
      text-align: center;
    }
  }

  .msc-Status__shaken,
  .msc-Status__wounded {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .chakra-form__label {
      line-height: 14px;
      margin: 0;
      width: 100%;
      text-align: center;
    }
  }
}
