.jg-Tokens {
  @include desktopOrWider {
    width: 100%;
  }

  @include narrowerThanDesktop {
    align-content: center;
  }

  display: grid;
  gap: 8px;
  grid-auto-rows: min-content;
  user-select: none;

  .jg-UniqueTokenField {
    align-content: space-between;
    gap: var(--chakra-space-2);
    grid-template-areas: "button tokens nothing";
    grid-template-columns: 90px 72px 90px;
    justify-content: center;
  }
}
