.jg-Status {
  @include desktopOrGreater {
    display: flex;
    flex-direction: row;
    height: min-content;
    justify-content: space-between;
  }

  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0 14px;
  grid-area: status;

  position: relative;

  .jg-Status__shields {
    grid-column: 1 / span 3;
    grid-row: 1;
  }
  .jg-Status__armor {
    grid-column: 4 / span 3;
    grid-row: 1;
  }

  .jg-Status__stress {
    grid-column: 1 / span 2;
    grid-row: 2;
  }

  .jg-Status__mp {
    grid-column: 3 / span 2;
    grid-row: 2;
  }

  .jg-Status__supplies {
    grid-column: 5 / span 2;
    grid-row: 2;
  }

  .jg-Status__shaken {
    grid-column: 3;
    grid-row: 1;
  }

  .jg-Status__wounded {
    grid-column: 3;
    grid-row: 2;
  }

  .jg-Status__shields,
  .jg-Status__armor,
  .jg-Status__stress,
  .jg-Status__mp,
  .jg-Status__supplies {
    input {
      text-align: center;
    }
  }

  .jg-Status__checkboxes {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    width: min-content;

    .chakra-checkbox__control[data-checked] {
      background: var(--jg-red);
      border-color: var(--jg-red);
      color: white;
    }
  }
}
