.jg-Status {
  @include desktopOrWider {
    align-self: center;
    display: flex;
    flex-direction: row;
    height: min-content;
    justify-content: space-between;
    width: min(100%, 760px);
  }

  @include narrowerThanTablet {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: relative;

  .jg-Status__Shields,
  .jg-Status__Armor,
  .jg-Status__Stress,
  .jg-Status__MP,
  .jg-Status__Supplies {
    input {
      text-align: center;
    }
  }

  .jg-Status__checkboxes {
    @include narrowerThanTablet {
      margin-left: auto;
      margin-right: auto;
    }
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    width: min-content;

    .chakra-checkbox__control[data-checked] {
      background: var(--jg-red);
      border-color: var(--jg-red);
      color: white;
    }
  }
}
