.jg-Status {
  @include desktopOrGreater {
    align-self: center;
    display: flex;
    flex-direction: row;
    height: min-content;
    justify-content: space-between;
    width: min(100%, 760px);
  }

  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0 14px;
  grid-area: status;

  position: relative;

  .jg-Status__Shields {
    grid-column: 1 / span 3;
    grid-row: 1;
  }
  .jg-Status__Armor {
    grid-column: 4 / span 3;
    grid-row: 1;
  }

  .jg-Status__Stress {
    grid-column: 1 / span 2;
    grid-row: 2;
  }

  .jg-Status__MP {
    grid-column: 3 / span 2;
    grid-row: 2;
  }

  .jg-Status__Supplies {
    grid-column: 5 / span 2;
    grid-row: 2;
  }

  .jg-Status__shaken {
    grid-column: 3;
    grid-row: 1;
  }

  .jg-Status__wounded {
    grid-column: 3;
    grid-row: 2;
  }

  .jg-Status__Shields,
  .jg-Status__Armor,
  .jg-Status__Stress,
  .jg-Status__MP,
  .jg-Status__Supplies {
    input {
      text-align: center;
    }
  }

  .jg-Status__checkboxes {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    width: min-content;

    .chakra-checkbox__control[data-checked] {
      background: var(--jg-red);
      border-color: var(--jg-red);
      color: white;
    }
  }
}
