.jg-NumberInputWithIcon {
  .jg-NumberInputWithIcon__group {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;

    & > svg {
      position: absolute;
    }

    .chakra-input {
      border: none;
      box-shadow: none;
      cursor: default;
      font-size: 24px;
      font-weight: bold;
      padding: 0;
      text-align: center;
    }
  }

  .chakra-text {
    font-size: 18px;
    text-align: center;
    width: 100%;

    &::first-letter {
      text-transform: capitalize;
    }
  }
}
