@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@400;600;700&display=swap");

@import "variables.scss";

@import "lib/components/forms/AmmoField/AmmoField.scss";
@import "lib/components/forms/AttributeField/AttributeField.scss";
@import "lib/components/forms/GearFieldGroup/GearFieldGroup.scss";
@import "lib/components/forms/IconNumberField/IconNumberField.scss";
@import "lib/components/forms/TokenField/TokenField.scss";
@import "lib/components/forms/WeaponFieldGroup/ModList/ModList.scss";
@import "lib/components/forms/WeaponFieldGroup/Trait/Trait.scss";
@import "lib/components/forms/WeaponFieldGroup/WeaponFieldGroup.scss";

@import "lib/components/typography/MarkdownView/MarkdownView.scss";
@import "lib/components/typography/MarkdownColorOverrides/MarkdownColorOverrides.scss";

@import "webapp/modules/MythicSpaceCharacters/MythicSpaceCharacters.scss";

@import "webapp/modules/MythicSpaceCharacters/CharacterSheet/CharacterSheet.scss";

@import "webapp/modules/MythicSpaceCharacters/CharacterSheet/Attributes/Attributes.scss";
@import "webapp/modules/MythicSpaceCharacters/CharacterSheet/Experiences/Experiences.scss";
@import "webapp/modules/MythicSpaceCharacters/CharacterSheet/Facets/Facets.scss";
@import "webapp/modules/MythicSpaceCharacters/CharacterSheet/Facets/Upgrades/Upgrades.scss";
@import "webapp/modules/MythicSpaceCharacters/CharacterSheet/Loadout/Loadout.scss";
@import "webapp/modules/MythicSpaceCharacters/CharacterSheet/Loadout/LoadoutEditor/LoadoutEditor.scss";
@import "webapp/modules/MythicSpaceCharacters/CharacterSheet/Loadout/LoadoutEditor/WeaponEditor/WeaponEditor.scss";

@import "webapp/modules/MythicSpaceCharacters/CharacterSheet/PersonalDetails/PersonalDetails.scss";
@import "webapp/modules/MythicSpaceCharacters/CharacterSheet/Status/Status.scss";
@import "webapp/modules/MythicSpaceCharacters/CharacterSheet/Tokens/Tokens.scss";
@import "webapp/modules/MythicSpaceCharacters/CharacterSheet/ViewToggle/ViewToggle.scss";

body {
  font-family: "Exo 2", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  input {
    border-radius: 0 !important;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.chakra-card {
  textarea {
    border-color: var(--chakra-colors-chakra-border-color);

    &::placeholder {
      color: var(--chakra-colors-whiteAlpha-600);
    }
  }

  .chakra-form-control {
    .chakra-form__label {
      background-color: var(--card-bg);
    }
  }
}

.chakra-modal__content {
  @include desktopOrGreater {
    margin: 2rem 0 !important;
    max-width: var(--chakra-sizes-4xl);
  }

  @include is-positive-button;

  background-color: var(--chakra-colors-chakra-body-bg) !important;

  min-width: fit-content;
}
